<h1>Repos#index</h1>
<p>Find me in app/views/repos/index.html.erb</p>
<% @repos.each do |repo| %>
  <%= link_to joana_repo_path(@joana.id, repo.id) do %>
    <h6><%= repo.name %></h6>
    <p><%= repo.commits_count %></p>
  <% end %>
<% end %>