// Blue
$dark-blue: #011b24;
$dark-blue-7: rgba(1,27,36,.7);

// Yellow
$very-light-yellow: #fbf3d6;
$light-yellow: #DDC240;
$md-light-yellow: #ffdf3d;
$yellow: #FDAA00;

//Pink
$soft-pink: #D8B3BC;

// Transparent
$none:#00000000;

// Shadows
$shadow-very-strong: 5px 5px 1px $dark-blue;
$shadow-strong: 2px 2px 1px $dark-blue;
$shadow-medium-strong: 1px 1px 1px $dark-blue;
$shadow-medium: 2px 2px 2px $dark-blue-7;
