// Github profile info
.infos-container {
  width: 53vw;
  margin-top: 22vh;
  margin-left: 50vw;
  letter-spacing: 2px;

  h1 {
    color: $light-yellow;
    font-weight: 600;
    line-height: 1em;
  }

  p {
    color: #fff;
    line-height: 1.6em;
  }
}

.infos-container h1:nth-child(2) {
  margin-left: 4px;
}

.info {
  margin-left: 1vw;
  margin-top: 2vh;
  i {
    margin: 0 auto;
  }
}

// Add space to give hash effect
.tabbed {
  margin-left: 12px;
}

.tabbed p:nth-child(3) {
  padding-left: 3px;
}