.show-inner-main {
  width: 100%;
  min-height: 65vh;
  display: flex;
  // background-color: rgba(255,255,255,0.2);
  // border-radius: 4px;
}

.show-inner {
  height: 65vh;
  // background-color: rgba(255,255,255,0.2);
  // border-radius: 4px;
}

.show-info {
  width: 60%;
}

.show-commits {
  background-color: rgba(0,0,0,0.4);
  // background-color: #001016;
  // border: 1px solid #fff;
  border-radius: 4px;
  width: 40%;
  padding: 20px 35px;
  overflow: auto;
  li {
    list-style-type: none;
    font-weight: 100;
    margin: 2% auto;
  }

  a {
    text-decoration: none;
    color: #fff;
    padding-left: 6px;
    letter-spacing: 1px;
  }
}

.show-commits li:nth-child(2n) {
  color: $light-yellow;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.show-commits::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.show-commits {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}