<div class="read-me-info">
  <div class="read-me-info-inner">
    <p>A simple web app where a user can:</p>
    <ul>
      <li>Create an account (Devise)</li>
      <li>Perform the all CRUD operations on his recipes, while getting nutritional information about each ingredient and recipe created</li>
      <li>Save to favourites</li>
      <li>Choose to publish or not his recipes</li>
      <li>Search recipes by recipe name or ingredient (ElasticSearch with Searchkick and Bonsai gems)</li>
    </ul>
  </div>
</div>

<div class="technologies">
  <span>Ruby on Rails</span>
  <span>PostgreSQL</span>
  <span>Javascript</span>
  <span>Devise</span>
  <span>ElasticSearch</span>
</div>