<div class="read-me-info">
  <div class="read-me-info-inner">
    <p>
      This 1-week app was created as an exercise to
      understand the concept of a marketplace during the Le Wagon Coding School Bootcamp.
    </p>
  </div>
</div>

<div class="technologies">
  <span>Ruby on Rails</span>
  <span>PostgreSQL</span>
  <span>jQuery</span>
  <span>Bootstrap</span>
  <span>Cloudinary</span>
  <span>Devise</span>
</div>
