<div class="read-me-info">
  <div class="read-me-info-inner">
    <p>
      This 2-week app was an exercise on how to build a
      dynamic product where users could set their proles,
      dene a set of skills, post jobs, browse, search and apply
      to other users jobs and, once accepted in the team by
      the boss of the job, they would get access to the teams
      chatroom.
    </p>
  </div>
</div>

<div class="technologies">
  <span>Ruby on Rails</span>
  <span>Bootstrap</span>
  <span>Cloudinary</span>
  <span>PostgreSQL</span>
  <span>jQuery</span>
  <span>Devise</span>
</div>
