<section class="infos-container toggle">
  <div class="header">
    <h1>Greetings,</h1>
    <h1>humans</h1>
  </div>

  <div class="info">
    <P>joana = {</P>
    <div class="tabbed">
      <P><i class="fas fa-briefcase"></i> <%= @joana.bio %></P>
      <P><i class="fas fa-envelope"></i> <%= @joana.email %></P>
      <P><i class="fas fa-map-marker-alt"></i> <%= @joana.location %></P>
    </div>
    <P>}</P>
  </div>
</section>
