<section class="home">

  <div class="infos-container">
    <h1><i class="fab fa-github"></i> = {</h1>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; username: &nbsp;'<%= @joana.username %>',</h3>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; location: &nbsp;'<%= @joana.location %>',</h3>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; bio: &nbsp;'<%= @joana.bio %>'</h3>
    <h1>&nbsp;}</h1>
  </div>

</section>
