<section class="contact-container toggle hidden" id="contact" >

  <div class="contact-main">
    <h6>Let's talk!</h6>
    <p>Feel free to contact me anytime.</p>
    <div class="contact-second">

      <div class="contact-info">
        <p><i class="fas fa-mobile-alt"></i>+351 912 669 884</p>
        <P><i class="fas fa-envelope"></i><%= @joana.email %></P>
        <P><i class="fas fa-map-marker-alt"></i><%= @joana.location %></P>
      </div>

      <a href="#" class="btn btn-flat toggle-btn btn-contact nav-link">Back</a>

    </div>
  </div>

</section>
