<footer>
  <div class="footer-info">

    <div>
      <p>© <%= Time.now.year %> <%= @joana.name %></p>
    </div>

    <div class="social-media">
      <a href="https://github.com/JBertoldi" target="_blank">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/joanabertoldi/" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>

  </div>
</footer>
