<nav class='navbar'>

  <div class="home-links">
    <div class="home-link">
      <%= link_to root_path do %>
        <h4><%= @joana.get_initials(@joana.name) %></h4>
      <% end %>
    </div>
  </div>

  <div class="nav-links">
    <div class="nav-link link">
      <%= link_to 'Projects', joana_repos_path(@joana) %>
    </div>
    <a href="#" class="btn btn-ghost nav-link toggle-btn">Contact</a>
  </div>

</nav>
