// Btns - general
.btn {
  width: 130px;
  height: 45px;
  padding: 8px 4px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
}

// Btn - ghost
.btn-ghost {
  font-size: 22px;
  transition: background-color 0.3s;
  color: #fff;
}

.btn-ghost:hover {
  background-color: rgba(0,0,0,0.3);
}

#btn-website {
  position: absolute;
  right: 50%;
  bottom: 0;
  margin-top: 6px;
  font-size: 18px;
}

#btn-website:hover {
  background-color: rgba(0,0,0,0.5);
}

// Btn - flat
.btn-flat {
  font-size: 22px;
  background-color: #fff;
  color: rgb(34, 34, 34);
  font-weight: 600;
  transition: all 0.3s;
}

.btn-flat:hover {
  background-color: rgba(0,0,0,0.3);
  color: #fff;
}

.btn-contact {
  margin: 0 auto;
}

// Navbar - link
.link {
  width: 100px;
  height: 45px;
  padding: 8px 4px;
  border-bottom: 3px solid $none;
  transition: all 0.3s
}

.link:hover, .active {
  border-bottom: 2px solid #fff;
}
