.slider::-webkit-scrollbar {
  width: 0;
}

.slider::-webkit-scrollbar-track {
  background: transparent;
}

.slider::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

.slider {
  -ms-overflow-style: none;
}

.slider {
  width: 100%;
  height: max-content;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
}

.cards {
  flex-shrink: 0;
  width: 100%;
  height: max-content;
  margin: 1% auto;
  margin-bottom: 0;
  display: flex;
  justify-content: space-around;
}

#card-last i {
  font-size: 14px;
  padding: 0 6px;
}

.card {
  width: 330px;
  height: 270px;
  border-radius: 4px;
  border: 2px solid #fff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .3s;
}

.card:hover {
  background-color: rgba(0,0,0,.5);
}

.card h4 {
  font-weight: 500;
  letter-spacing: 1.5px;
  text-align: center;
}

#swipe {
  width: max-content;
  height: max-content;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  font-size: 18px;
  p {
    font-size: 16px;
    padding: 0 5px 2px 8px;
    font-weight: 600;
  }
}



@media screen and (min-width: 501px) and (max-width: 1000px) {
  .card {
    width: 225px;
    height: 201px;
  }
  h4 {
    font-weight: 18px;
  }
}

@media screen and (max-width:500px) {
  .slider {
    width: 100%;
    height: 280px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .cards {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .card {
    margin: 5% auto;
    width: 90%;
    height: 240px;
  }

  .card h4 {
    font-weight: 500;
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 24px;
  }

  .title-small {
    margin-top: 5%;
    padding-bottom: 1%;
  }

  #swipe {
    display: none;
  }
}
