// External imports
@import "font-awesome-sprockets";
@import "font-awesome";

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/breakpoints";

// CSS partials
@import "components/index";
@import "pages/index";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html, body {
  position: relative;
  font-family: $body-font;
  color: #fff;
}

a, a:hover {
  text-decoration: none;
}
